<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="PropertyId" value="23"/>
    <!--<add key="QBFileName" value="C:\Users\Public\Documents\Intuit\QuickBooks\Holiday Cookie.qbw"/>-->
    <add key="QBFileName" value="C:\Users\Public\Documents\Intuit\QuickBooks\Company Files\rigel networks.qbw"/>
    <!--<add key="QBFileName" value="C:\Users\Public\Documents\Intuit\QuickBooks\Holiday_Cookie_Live.qbw"/>-->
    <add key="QBPassword" value="Maulesh@39"/>

    <add key="SMTP" value="smtp.gmail.com" />
    <add key="EnableSsl" value="true" />
    <add key="Port" value="587" />
    <add key="AdminEmail" value="maulesh.patel@rigelnetworks.com" />
    <add key="TimeoutP" value="20000" />
    <add key="smtpUser" value="maulesh.patel@rigelnetworks.com" />
    <add key="password" value="Maulesh@39" />
    <add key="fromEmail" value="maulesh.patel@rigelnetworks.com" />
    
  </appSettings>
  <connectionStrings>
    <!--<add name="InnGeniusEntities" connectionString="metadata=res://*/Domain.InnGeniusDataModel.csdl|res://*/Domain.InnGeniusDataModel.ssdl|res://*/Domain.InnGeniusDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=216.104.36.218;initial catalog=InngeniusOGI;persist security info=True;user id=inngenius;password=inngeniussa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <add name="DevelopmentEntities" providerName="System.Data.SqlClient" connectionString="Data Source=169.46.53.154;Initial Catalog=Development_062018;User ID=b2clive;password=b2c#123;persist security info=True"/>
     <!--<add name="B2CDevelopmentEntities" connectionString="metadata=res://*/DAL.B2CJewels.csdl|res://*/DAL.B2CJewels.ssdl|res://*/DAL.B2CJewels.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=169.46.53.154;initial catalog=Development_062018;user id=b2clive;password=b2c#123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="strConnection" connectionString="Data Source=169.46.53.154;Initial Catalog=Development_062018;User ID=b2clive;Password=b2c#123;Asynchronous Processing=true" providerName="System.data.SqlClient" />-->
    <!--<add name="InnGeniusEntities" providerName="System.Data.SqlClient" connectionString="Data Source=MTAJ-10-PC\SQLEXPRESS;Initial Catalog=InngeniusOGI_Cookie;User ID=sa;password=sa123; persist security info=True"/>-->
    <!--<add name="InnGeniusEntities" providerName="System.Data.SqlClient" connectionString="Data Source=psmtech\SQLEXPRESS;Initial Catalog=InnGeniusMaster;User ID=sa;password=swifPink32; persist security info=True"/>-->
  </connectionStrings>
  <system.web>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
    <!--<compilation debug="true" targetFramework="4.0.30319" />
    <httpRuntime targetFramework="4.0.30319" />-->
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"
        preCondition="managedHandler"/>
    </modules>
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>